$primary-color: #97ae76;
$color-1: #fff;
$color-2: #333;
$color-3: #666;
$color-4: #999;
$color-5: #ccc;
$color-6: #7e975a;

.loginPage__banner {
  background: url(../images/login-bg.jpg) no-repeat center/cover;
  height: 45vh;
}

.loginPage__container {
  width: auto;
  text-align: center;
  padding: 6rem 0;

  h3 {
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
  }

  form {
    margin: 0 30%;
    text-align: left;
  }

  button {
    margin-top: 4rem;
  }
}

.loginPage__formItems {
  label,
  input {
    display: block;
    width: 100%;
  }

  label {
    font-size: 1.6rem;
    padding: 1.6rem 2rem;
  }

  input {
    padding: 1.6rem 2rem;
    font-size: 1.4rem;
    background-color: #ddd;
    border: none;
    border-radius: 0.6rem;
    color: $color-1;
  }

  input:hover,
  input:focus {
    background-color: $primary-color;
    outline: none;
  }
}

.loginPage__note {
  display: flex;
  justify-content: space-between;
  margin: 0 30%;
  font-size: 1.4rem;
  color: $color-2;
  padding-top: 3rem;
}
.loginPage__note--remember {
  input {
    margin-right: 0.4rem;
  }
}
