@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.blur-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.show {
  display: block;
}

.faq__banner,
.about__banner,
.loginPage__banner,
.shop-details__banner,
.shop-page__banner {
  background: url(./component/images/contact/09.jpg) no-repeat;
  background-position: 100% 100%;
  height: 40vh;
  position: relative;
}
.faq__banner h3,
.about__banner h3,
.loginPage__banner h3,
.shop-details__banner h3,
.shop-page__banner h3 {
  padding-top: 8rem;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 500;
  position: relative;
  color: #fff;
}
.faq__banner h3::before,
.about__banner h3::before,
.loginPage__banner h3::before,
.shop-details__banner h3::before,
.shop-page__banner h3::before {
  content: "";
  width: 100px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  bottom: -1.2rem;
  left: 50%;
  margin-left: -50px;
}
.faq__banner h3::after,
.about__banner h3::after,
.loginPage__banner h3::after,
.shop-details__banner h3::after,
.shop-page__banner h3::after {
  content: "";
  width: 100px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  bottom: -1.5rem;
  left: 50%;
  margin-left: -50px;
}

.btn {
  font-size: 1.6rem;
  color: #fff;
  background-color: #97ae76;
  padding: 1.6rem 4rem;
  border-radius: 2.4rem;
  border: none;
}

.btn:hover {
  background-color: #7e975a;
  cursor: pointer;
}

.header {
  padding: 4rem 8%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 0 1px #ddd;
}

.header__logo {
  position: relative;
}
.header__logo a {
  font-size: 5rem;
  color: #000;
  font-weight: 900;
  display: block;
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
}

.header__bar {
  height: fit-content;
  color: #666;
  font-size: 1.6rem;
}
.header__bar li {
  display: inline-block;
  padding: 0 2rem;
}

.header__cart {
  height: fit-content;
  color: #666;
  font-size: 2rem;
  display: flex;
  align-items: center;
}
.header__cart i.ti-search {
  display: inline-block;
  padding: 0 1.6rem;
}
.header__cart i.ti-shopping-cart {
  display: inline-block;
  padding: 0 0.2rem 0 1.6rem;
}
.header__cart i.ti-shopping-cart + span {
  font-size: 1.4rem;
  vertical-align: super;
}

.header__bar a,
.header__cart a {
  color: #666;
  font-weight: 600;
  display: inline-block;
}
.header__bar a:hover,
.header__cart a:hover {
  color: #7e975a;
}

/* drop down menu */
#feature:hover .feature-drop {
  display: block;
}
.feature-drop {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  padding-top: 2rem;
  min-width: 160px;
  min-height: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.feature-drop a {
  color: #666;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  transition: all 0.3s ease;
}
.feature-drop a:hover {
  transform: translateX(5px);
}

.thumbnails {
  display: flex;
  padding: 6rem 10%;
}

.thumbnails__items {
  flex-basis: 30%;
  text-align: center;
  margin: 0 auto;
}
.thumbnails__items h4 {
  font-size: 2.4rem;
  font-weight: normal;
  padding-top: 3rem;
}

.thumbnails__items-img {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}
.thumbnails__items-img img {
  max-width: 100%;
  height: auto;
  transition: all 0.4s ease-in-out;
}

.thumbnails__items:hover img {
  transform: scale(1.2, 1.2) translateX(12px);
}

.product {
  padding: 0 10%;
}
.product h3 {
  font-size: 3.6rem;
  font-weight: normal;
  text-align: center;
  border-top: 1px solid #ccc;
  padding-top: 4rem;
}

.product__container {
  padding-top: 6rem;
  padding-bottom: 8rem;
  display: flex;
  justify-content: space-between;
}

.product__container-m {
  flex-basis: 22.5%;
}

.product__container-l {
  flex-basis: 45%;
}

.product__container-m__items {
  border: 1px solid #ccc;
  margin-bottom: 2rem;
}
.product__container-m__items img {
  width: 100%;
  object-fit: cover;
}
.product__container-m__items p {
  font-size: 2.4rem;
  padding-left: 2.4rem;
}
.product__container-m__items span {
  display: inline-block;
  font-size: 1.6rem;
  padding-left: 2.4rem;
  padding-bottom: 3rem;
}

.banner {
  height: 70vh;
  background: no-repeat center/cover;
  background-position: 0 0%;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  text-align: center;
  color: #fff;
}
.banner p {
  padding-top: 10rem;
  font-size: 2.4rem;
}
.banner h2 {
  font-size: 7rem;
  font-weight: 400;
  padding: 2rem 0 6rem;
}

.blog {
  padding: 6rem 10%;
}
.blog h3 {
  text-align: center;
  font-size: 4rem;
  font-weight: normal;
}

.blog__container {
  display: flex;
  justify-content: space-around;
}

.blog__items {
  flex-basis: 30%;
}
.blog__items img {
  width: 100%;
}

.blog__items-desc {
  background-color: #f5f5f5;
  padding: 2.4rem 3rem;
}
.blog__items-desc h4 {
  font-size: 2rem;
  font-weight: normal;
  color: #333;
  line-height: 1.5;
}
.blog__items-desc h4:hover {
  color: #97ae76;
}
.blog__items-desc p {
  color: #999;
  padding: 1.6rem 0 2.6rem;
  font-size: 1.6rem;
}
.blog__items-desc span {
  color: #666;
  font-size: 1.6rem;
  line-height: 1.5;
}

.sub-banner {
  margin-top: 4rem;
  position: relative;
}
.sub-banner button {
  display: block;
  position: absolute;
  top: 59%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sub-banner button i {
  margin-right: 1rem;
}

.sub-header__carousel {
  width: 100%;
  display: flex;
  overflow: hidden;
}
.sub-header__carousel img {
  display: inline-block;
  flex-basis: 33.3333%;
  width: 100%;
}

.sub-banner__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.footer {
  padding-top: 8rem;
  background-color: #edf2f5;
}

.footer__info {
  display: flex;
  padding: 0 10% 8rem;
}

.footer__info--left {
  flex-basis: 30%;
}
.footer__info--left h2 {
  font-size: 4rem;
  font-weight: 900;
  vertical-align: super;
  line-height: 1;
}

.footer__info--right {
  flex-basis: 70%;
  display: flex;
  justify-content: space-around;
}
.footer__info--right h3 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: normal;
  padding-bottom: 1.6rem;
}

.footer__info--left p,
.footer__info--right p {
  font-size: 1.6rem;
  color: #666;
  padding: 1.2rem 0;
}
.footer__info--left p a,
.footer__info--right p a {
  color: #666;
}
.footer__info--right p a:hover {
  color: #7e975a;
  text-decoration: underline;
}

.footer__info--left input,
.footer__info--right input {
  font-size: 1.6rem;
  padding: 1rem;
  width: 100%;
  border-radius: 0.8rem;
  border: 1px solid #666;
}

.footer__credit {
  background-color: #222;
  padding: 3rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__credit p {
  color: #666;
  font-size: 1.4rem;
}

.footer__credit-card img {
  display: inline-block;
  padding-right: 2rem;
}

.logout-btn {
  font-size: 16px;
  padding: 4px 10px;
  margin-left: 20px;
  border-radius: 8px;
  border: 1px solid #ddd;
  color: #666;
}
.logout-btn:hover {
  cursor: pointer;
  background-color: #7e975a;
  color: #fff;
}

@media screen and (max-width: 1400px) {
  .header__logo {
    display: none;
  }
}

.button-group {
  margin: 40px 0;
  margin-left: 100px;
  font-size: 18px;
}
.button-group label {
  margin-right: 16px;
}
.button-group input {
  border-radius: 10px;
  outline: none;
  border: 1px solid #000;
  padding: 10px;
  margin-right: 16px;
}
.button-group button {
  font-size: 18px;
  border-radius: 10px;
  padding: 12px;
  background-color: #7e975a;
  border: none;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
}

.user-display {
  padding: 10px 20px;
  font-size: 16px;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
}

.input-change-form {
  margin-bottom: 16px;
  font-size: 16px;
  margin-top: 50px;
  margin-left: 20px;
}

.input-change-form label {
  margin-right: 10px;
}
.input-change-form input {
  padding: 10px;
}

.user-display p:first-child {
  color: red;
  font-size: 20px;
}

.manage-table {
  width: 100%;
  font-size: 16px;
  border-collapse: collapse;
  text-align: center;
  padding: 10px 20px;
}

.manage-table th,
.manage-table td {
  border: 1px solid #ccc;
  padding: 10px;
}
.manage-table th {
  background-color: #ccc;
}

.manage-table i {
  font-size: 18px;
}
.manage-table input {
  border: none;
  padding: 10px;
  /* background-color: #7e975a; */
}

/* Backdrop */
.MuiBackdrop-root {
  background-color: rgba(0, 0, 0, 0.65) !important;
}

.MuiDialogContent-root p {
  font-size: 18px !important;
  padding: 40px 40px 0 40px !important;
}

.MuiDialogActions-root button {
  font-size: 16px !important;
}

.MuiTextField-root {
  font-size: 16px !important;
}

.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root,
.css-1x51dt5-MuiInputBase-input-MuiInput-input {
  font-size: 20px !important;
}
