@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&display=swap");

$primary-color: #97ae76;
$color-1: #fff;
$color-2: #333;
$color-3: #666;
$color-4: #999;
$color-5: #ccc;
$color-6: #7e975a;

.home-banner {
  background: url(../images/home/home-bg1.jpg) no-repeat center/cover;
  height: 100vh;
}

.navbar {
  padding: 5rem 8%;
  display: flex;
  justify-content: space-between;
}

.navbar__logo {
  position: relative;
  a {
    font-size: 6rem;
    color: #000;
    font-weight: 900;

    display: block;
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
  }
}

.navbar__bar {
  height: fit-content;
  color: $color-3;
  font-size: 1.6rem;

  li {
    display: inline-block;
    padding: 0 2rem;
  }
}

.navbar__cart {
  height: fit-content;
  color: $color-3;
  font-size: 2rem;

  i {
    display: inline-block;
    padding: 0 1.6rem;
  }
}

.navbar__bar,
.navbar__cart {
  a {
    color: $color-3;
    font-weight: 600;
  }

  a:hover {
    color: $color-6;
  }
}
